In [1]:
import sklearn as sk
import pandas as pd
import numpy as np
import scipy.linalg as sc
import matplotlib.pyplot as pt

In [2]:
import pandas_profiling as pp

In [1]:
import pandas as pd

In [13]:
data1=pd.read_csv("data/Zomatodataset/zomato.csv")

In [2]:
%%time
data=pd.read_csv("./data/all_in_one/titanic_full_train.csv")

CPU times: user 5.64 ms, sys: 4.31 ms, total: 9.95 ms
Wall time: 8.99 ms

In [5]:
pro=pp.ProfileReport(data,explorative= True,
    sensitive= True,
    dark_mode= True)

In [19]:
# data1.head()
for i in data1.columns:
    print(data1[i].nunique())

9552
9552
7447
16
142
8919
1208
1265
8120
8677
1826
140
13
3
3
3
2
4
33
6
6
1012

In [ ]:
pro.to_file("/home/kar/Desktop/jupyter/out3.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

In [3]:
%%time
import phik

CPU times: user 674 ms, sys: 222 ms, total: 896 ms
Wall time: 550 ms

In [4]:
%%time
from phik import report

CPU times: user 612 ms, sys: 39.6 ms, total: 651 ms
Wall time: 650 ms

In [9]:
%%time
phikk=data.phik_matrix()

interval columns not set, guessing: ['Age']
CPU times: user 161 ms, sys: 54.2 ms, total: 215 ms
Wall time: 2.02 s

In [6]:
data.drop(columns=["PassengerId","Name","Ticket","Fare","Cabin"],inplace=True)

In [8]:
data.head()

  Survived Pclass     Sex   Age SibSp Parch Embarked
0        0      3    male  22.0     1     0        S
1        1      1  female  38.0     1     0        C
2        1      3  female  26.0     0     0        S
3        1      1  female  35.0     1     0        S
4        0      3    male  35.0     0     0        S

In [15]:
data.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [7]:
data.Pclass=pd.Categorical(data.Pclass,data.Pclass.unique())
data.Parch=pd.Categorical(data.Parch,data.Parch.unique())
data.Sex=pd.Categorical(data.Sex,data.Sex.unique())
data.SibSp=pd.Categorical(data.SibSp,data.SibSp.unique())
data.Survived=pd.Categorical(data.Survived,data.Survived.unique())
data.Embarked=pd.Categorical(data.Embarked,['S', 'C', 'Q'])

In [12]:
phikk.round(2)

          Survived  Pclass   Sex   Age  SibSp  Parch  Embarked
Survived      1.00    0.21  0.75  0.20   0.18   0.15      0.10
Pclass        0.21    1.00  0.08  0.41   0.22   0.03      0.58
Sex           0.75    0.08  1.00  0.13   0.19   0.23      0.07
Age           0.20    0.41  0.13  1.00   0.39   0.41      0.11
SibSp         0.18    0.22  0.19  0.39   1.00   0.59      0.14
Parch         0.15    0.03  0.23  0.41   0.59   1.00      0.08
Embarked      0.10    0.58  0.07  0.11   0.14   0.08      1.00

In [10]:
%%time
phikkh=data.significance_matrix()

interval columns not set, guessing: ['Age']
CPU times: user 3.2 s, sys: 350 ms, total: 3.55 s
Wall time: 9.99 s

In [11]:
phikkh.round(2)

          Survived  Pclass    Sex    Age  SibSp  Parch  Embarked
Survived     34.22    9.85  16.29   3.18   4.95   3.77      4.60
Pclass        9.85   41.72   3.53   8.49   5.49   0.95     10.51
Sex          16.29    3.53  33.77   1.92   5.07   6.29      2.92
Age           3.18    8.49   1.92  49.12   7.55  11.04      0.57
SibSp         4.95    5.49   5.07   7.55  38.73  13.22      3.33
Parch         3.77    0.95   6.29  11.04  13.22  35.92      1.90
Embarked      4.60   10.51   2.92   0.57   3.33   1.90     36.45

In [12]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# report.correlation_report(data)